/*CSS RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* MAIN STYLEZ */

.header {
  height: 128px;
  width: 100%;
  background: #00E676;
  margin-bottom: -32px;
}
body {
  background: #EBEBEB;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
.mainbody {
  display: flex;
  justify-content: center;
}
.card {
  padding: 24px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0,0,0,0.2);
  margin-bottom: 16px;
}
.card-wide {
  padding-top: 64px;
  width: 692px;
}
input {
  color: #333333;
}
h3 {
  color: #000;
  font-size: 20px;
  margin-bottom: 24px;
}
.section {
  display: flex;
  justify-content: space-between;
  width: 740px;
}
.card-medium {
  flex: 1;
}
.card-medium + .card-medium {
  margin-left: 16px;
}
.inline-input-container {
  display: flex;
  align-items: flex-start;
}
.inline-input {
  margin-left: 24px;
  border: none;
  border-bottom: 1px solid #aaaaaa;
  font-size: 20px;
  line-height: 20px;
  width: 370px;
}
.circle-icon {
  background: #00E676;
  border-radius: 50%;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  margin: 8px 0;
  color: #ffffff;
}
.room-list-items {
  height: 48px;
  display: flex;
  align-items: center;
}
.room-list-items span{
  font-weight: 600;
  color: #aaaaaa;
  margin-left: 16px;
  pointer: cursor;
}
.block-input {
  border: none;
  border-bottom: 1px solid #aaaaaa;
  width: 314px;
  font-size: 14px;
}
.form-label-icon {
  height: 36px;
  margin: 16px 0;
  width: 120px;
  font-size: 14px;
  color: #00E676;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
  cursor: pointer;
}
.form-label-icon i {
  padding-right: 8px;
}
button {
  padding-left: 0;
}
.button-cta {
  cursor: pointer;
  border: none;
  height: 36px;
  padding: 0 8px;
  width: 120px;
  font-size: 14px;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #00E676;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
}
.button-flex-wrapper {
  display: flex;
  justify-content: flex-end;
}
.drawingWrapper {
  display: flex;
  width: 100%;
  margin-top: 32px;
  justify-content: space-between;
}
.hasFile {
  color: #aaa;
  border-bottom: 3px solid #aaa;
}
#chatsholder {
  width: 384px;
  background: #e0e0e0;
  height: 100%;
}
#app {
  display: flex;
  justify-content: center;
  width: 100%;
}
#chats > li:last-child{
  margin-bottom: 32px;
}
.chat-item {
  height: 32px;
  width: 352px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 8px;
  background: #ffffff;
  padding: 16px;
}
.chat-username {
  color: #aaa;
  margin-right: 16px;
}
.chat-input-container {
  width: 352px;
  height: 72px;
  padding: 16px 16px 64px;
  background: #fff;
  margin-bottom: 8px;
}
.chat-input {
  border: none;
  width: 352px;
  height: 72px;
  font-size: 14px;
  resize: none;
}
button {
  background: none;
  border: none;
}
.send-icon {
  font-family: inherit;
  cursor: pointer;
  border: none;
  height: 36px;
  padding: 0 16px;
  margin: 8px 0;
  font-size: 14px;
  border-radius: 3px;
  color: #ffffff;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  background: #00E676;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  align-items: center;
}
.input-button-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.video-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
}
.canvas-video-container {
  margin: 0 auto;
  position: relative;
  width: 752px;
  height: 500px;
  overflow: hidden;
}
#video {
  margin-top: -128px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  /*position: absolute;*/
}
.canvas-container {
  top: -750px;
}
.video-controls-container {
  width: 367px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -124px;
  z-index: 100;
}
.video-control {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  color: #fff;
  background: #00E676;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.play {
  width: 84px;
  height: 84px;
  font-size: 20px;
}
.main-video {
  position: relative;
  margin: 64px auto 0;
}
.actions {
  position: absolute;
  top: 0;
  right: -64px;
  display: flex;
  flex-direction: column;
}
.action-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  color: #fff;
  background: #00E676;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 14px;
}
.actions-span {
  margin-top: 8px;
}
.exit-icon {
  position: absolute;
  right: 32px;
  top: 32px;
  font-size: 14px;
  background: #fff;
  color:  #00E676;
  border-radius: 3px;
  font-weight: bold;
  padding: 8px 12px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.exit-icon span {
  margin-top: 8px;
}
.bottom-content {
  margin: 72px auto 0;
  display: flex;
  justify-content: space-between;
  width: 752px;
}
.users, .thumbnails {
  width: 312px;
  padding: 24px;
  min-height: 96px;
  background: #fff;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  margin-bottom: 64px;
}
h5 {
  color: #aaa;
  font-size: 14px;
  margin-top: -8px;
}
.user-list-entry {
  height: 64px;
  width: 272px;
  margin: 0 auto;
  line-height: 64px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
}
.list-user-span {
  color: #00E676;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.thumbnail-photo-sizer {
  margin-top: 24px;
  max-height: 272px;
  max-width: 200px;
  overflow: hidden;
}
.thumbnail-photo {
  width: 100%;
  height: auto;
}


#streamedto{
  position:absolute;
  top:32px;
  z-index:-6;
}
